
<!DOCTYPE html>
<html>
<head>
    <title>Delta Chatroom</title>
    <link rel="stylesheet" type="text/css" href="style.css"></link>
</head>
<body>
<p></p>
<h1>Delta Chatroom</h1>
<p></p>
<nav>
    <ul>

        <div class="dropdown">
  <button class="menubutton">Menu</button>
  <div class="dropdown-content">
    <a href="#">Edit Profile</a>
    <a href="#">Contacts</a>
    <a href="#">Other</a>
  </div>
</div>

    <script>
    var socket = new WebSocket( "ws://localhost:8000/" );

        // onopen is called when the WebSocket successfully establishes a connection with the server.
        socket.onopen = function( event ) {
            console.log( "Connection was opened!" );

            // Once the connection is opened, it is safe to send data to the server through the WebSocket.
            socket.send( "Test." );
        };

        console.log( "Attempting to connect!" );





        // onmessage is called when the WebSocket receives data from the server.
         socket.onmessage = function(event) {
            handleMessage(event);
        };

        var datatest = {
            data : "{\"author\" : \"Username\",\"message\" : \"Data testing.\",\"posted\" : \"time.\",\"edited\" : null,\"type\" : \"message\"}"
        };

        var loginresulttest = {
            data : "{\"result\" :  true, \"type\" : \"loginresult\" }"
        };

         function handleMessage( event ) {
            var chatz = document.getElementById("chatbox").contentDocument;
            var received = JSON.parse(event.data);
            var username = received.author;
            var text = "";
            var msg = received.message;
            var time = received.posted;
            var timeStamp = Date.now();
            var jsontype = received.type;
            var result = received.result;

            if (jsontype == "message")
            {
                console.log("this is a message!");


                text = "(" + timeStamp + ") <b>" + username + "</b>: " + msg + "<br>";




                if (text.length) {
                    chatz.write(text);
                    document.getElementById("chatbox").contentWindow;
                }
            }
            else
            {
                console.log("this is a login result!");

                if (result = true)
                {
                    createCookie(result);
                }
            }

            console.log( "Recieved a message: " + event.data );
        };

    function test()
    {
        handleMessage(loginresulttest);
    };





    function sendmessage()
    {
        var msgjson = {
            "author" : "user",
            "message" : document.getElementById("msgBox").value,
            "posted" : Date.now(),
            "edited" : null,
            "type" : "message"
        };

        socket.send(JSON.stringify(msgjson));

    };

    function displaymessage()
    {
        sendmessage()
    }


    function createCookie(username)
    {
        var d = new Date();
        d.setTime(d.getTime() + (24 * 60 * 60 * 1000));
        document.cookie = "loginresult=true; path=/";
        alert("Cookies test... set to name= " + username);
        console.log("cookies created..");
    }

    </script>

    <button type="button" onclick="connect()">Connect!</button>

    <button type="button" onclick="test()">Testing!</button>

<br>
<br>


  <table border="0" width="100%">
  <tr height="100%">
  <td width="120px" align="top" border="1" height="100%">
  <div id="userlistbox" style="border: 1px solid black; width:100%; height:100%;"></div>
  </td>
  <td>
  <iframe width="100%" height="400px" id="chatbox""></iframe>
  <tr>
  <td>&nbsp;</td>
  <td>

<br>
<br>

    <textarea id="msgBox" rows="4" cols="50">Enter text here...</textarea>



    <button type="button" onclick="sendmessage()">Send!</button>




    <a href="https://www.google.com/" id="logoutbutton">Logout</a>
    </ul>
</nav>

<br>

    <div class="chatbox">
        <div class="chatlog">

            <div class="chat">
                 <div class="username"><p>Christian</p></div>
                 <p class="chat-message"> Hey hows its going?(test)</p>
            </div>
            <div class="chat">
                <div class="username"><p>Neil</p></div>
                <p class="chat-message">Good and you?(test)</p>
            </div>

        </div>


    </div>

<style>
table {
    border-collapse: collapse;
    border: 1px solid blue;
    background: #fff;
    padding: 25px;
    margin: 40px;
}
th, td
{
    text-align: left;
    padding: 8px;
}

tr:nth-child(even)
{
background-color: #f2f2f2;
}
</style>

<table id="userlist" width="190" height="600">
<tbody>
<tr>
<td style="width: 180px;">
    <p>Users List</p>
</td>
</tr>
<tr>
<td style="width: 180px;">
    <div class="username">
    <p>Christian <img src="https://www.wpclipart.com/blanks/shapes/color_labels/circle/color_label_circle_green.png" width="10%" height="10%" align="right">
            </div>
    </p>
    </div>
</td>
</tr>
<tr>
<td style="width: 180px;">
    <p>Neil<img src="https://www.wpclipart.com/blanks/shapes/color_labels/circle/color_label_circle_green.png" width="10%" height="10%" align="right"></p>
    </td>
</tr>
<tr>
<td style="width: 180px;">
    <p>Other Usernames... <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Button_Icon_Red.svg/2000px-Button_Icon_Red.svg.png" width="10%" height="10%" align="right"></p>
    </td>
</tr>
<tr>
<td style="width: 180px;"></td>
</tr>
<tr>
<td style="width: 180px;"></td>
</tr>
<tr>
<td style="width: 180px;"></td>
</tr>
<tr>
<td style="width: 180px;"></td>
</tr>
<tr>
<td style="width: 180px;"></td>
</tr>
<tr>
<td style="width: 180px;"></td>
</tr>
</tbody>
</table>

<div class="chattext">
            <textarea></textarea>
            <button>Send</button>
        </div>
</body>
</html>
