
<!DOCTYPE html>
<html>
<head>
    <title>Delta Chatroom</title>
    <link rel="stylesheet" type="text/css" href="style.css"></link>
</head>
<body>
<p></p>
<h1>Delta Chatroom</h1>
<p></p>
<nav>
    <ul>

        <div class="dropdown">
  <button class="menubutton">Menu</button>
  <div class="dropdown-content">
    <a href="chatsite.html">Home</a>
    <a href="editprofile.html">Edit Profile</a>
    <a href="#">Contacts</a>
    <a href="#">Other</a>
  </div>
</div>

    <script>
    var socket = new WebSocket( "ws://%s:8000/" );

        // onopen is called when the WebSocket successfully establishes a connection with the server.
        socket.onopen = function( event ) {
            console.log( "Connection was opened!" );

            var reqmsgs =
            {
                type: "messagerequest"
            };
            socket.send(JSON.stringify(reqmsgs));

            // Once the connection is opened, it is safe to send data to the server through the WebSocket.
            socket.send( "Test." );
        };

        console.log( "Attempting to connect!" );





        // onmessage is called when the WebSocket receives data from the server.
         socket.onmessage = function(event) {
            handleMessage(event);
        };

        var datatest = {
            data : "{\"author\" : \"CCAL22\",\"message\" : \"Data testing.\",\"posted\" : \"time.\",\"edited\" : null,\"type\" : \"message\"}"
        };

        var datatest2 = {
            data : "{\"author\" : \"MMURV15\",\"message\" : \"Data testing.\",\"posted\" : \"time.\",\"edited\" : null,\"type\" : \"message\"}"
        };

        var loginresulttest = {
            data : "{\"result\" :  true, \"type\" : \"loginresult\" }"
        };

        var usertest = {
            data : "{\"username\" : \"christianqtc\", \"password\" : \"******\"}"
        };

        var ul = "";

         function handleMessage( event ) {
            var chatz = document.getElementById("chatbox").contentDocument;
            var namez = document.getElementById("userlistbox").innerHTML;
            var received = JSON.parse(event.data);
            var username = received.author;
            var text = "";
            var msg = received.message;
            var time = received.posted;
            var timeStamp = Date.now();
            var d = Date(timeStamp);
            var jsontype = received.type;
            var result = received.result;

            if (jsontype == "message")
            {
                console.log("this is a message!");


                text = "(" + d.toString() + ") <b>" + username + "</b>: " + msg + "<br>";




                if (text.length) {
                    chatz.write(text);
                    document.getElementById("chatbox").contentWindow;
                }
            }
            else
            {
                console.log("this is a login result!");

                if (result = true)
                {
                    createCookie(result);
                }
            }


            if (username)
            {
              ul += username + "<br>";
            }
              document.getElementById("userlistbox").innerHTML = ul;
            console.log( "Received a message: " + event.data );
        };

    function test()
    {
        handleMessage(loginresulttest);
        handleMessage(usertest);
        handleMessage(datatest);
        handleMessage(datatest2);
        verifyAllCookie();
    };


    var usertest = {
        data : "{\"username\" : \"christianqtc\", \"password\" : \"******\"}"
    };

    var name = "christianqtc"

    function sendmessage()
    {
        var textMessage = document.getElementById("msgBox").value;
        var msgjson = {
          author: name,
          message: textMessage,
          posted: Date.now().toString(),
          edited: "null",
          "type": "message"
        };

        socket.send(JSON.stringify(msgjson));

    };

    function displaymessage()
    {
        sendmessage()
    }


    function createCookie(username)
    {
        var d = new Date();
        d.setTime(d.getTime() + (24 * 60 * 60 * 1000));
        document.cookie = "username=CCAL22; path=/";
        document.cookie = "password=pass123; path=/";
        document.cookie = "loginresult=true; path=/";
        alert("Cookies test... set to name= " + username);
        console.log("cookies created..");
    }

    function verifyCookie(name)
    {
        var name = name + "=";
        var seperate = document.cookie.split(';');
        for(var i=0;i < seperate.length;i++) {
          var cook = seperate[i];
          while (cook.charAt(0)==' ')
              cook = cook.substring(1,cook.length);
          if (cook.indexOf(name) == 0)
              return cook.substring(name.length,cook.length);
        }
        return null;
    }

    function verifyAllCookie()
    {
      socket.send(verifyCookie("username"));
      verifyCookie("password");
      verifyCookie("loginresult");
    }

    function deleteCookie()
    {
        document.cookie = "username=; expires=Thu, 22 Feb 1990 12:00:00 UTC; path=/";
        document.cookie = "password=; expires=Thu, 22 Feb 1990 12:00:00 UTC; path=/";
        document.cookie = "loginresult=; expires=Thu, 22 Feb 1990 12:00:00 UTC; path=/";
    }

    </script>

    <button type="button" onclick="connect()">Connect!</button>

    <button type="button" onclick="test()">Testing!</button>

<br>
<br>


  <table border="0" width="100%">
  <tr height="100%">
  <td width="120px" align="top" border="1" height="100%">
  <div id="userlistbox" class"bordered" style="border: 3px solid lightgreen; width:100%; height:100%; border-radius: 8px"></div>
  </td>
  <td>
  <iframe width="100%" height="400px" id="chatbox"></iframe>
  <tr>
  <td>&nbsp;</td>
  <td>

<br>
<br>


<input id="msgBox" type="text" name="text" rows="4" cols="50" size="75" maxlength="256" placeholder="Chat with us!" autocomplete="off">
  <input type="button" id="send" name="send" value="Send" onclick="sendmessage()"></p></td>







    <a href="" id="logoutbutton" onclick="deleteCookie()"style="float: right;">Logout</a>
    </ul>
</nav>

<br>


<style>
table {
    border-collapse: collapse;
    border: 1px solid blue;
    background: #fff;
    padding: 25px;
    margin: 40px;
}
th, td
{
    text-align: left;
    padding: 8px;
}

tr:nth-child(even)
{
background-color: #f2f2f2;
}
</style>

<!--
<table id="userlist" width="190" height="600">
<tbody>
<tr>
<td style="width: 180px;">
    <p>Users List</p>
</td>
</tr>
<tr>
<td style="width: 180px;">
    <div id"userlistbox2">
    <p>Christian <img src="https://www.wpclipart.com/blanks/shapes/color_labels/circle/color_label_circle_green.png" width="10%" height="10%" align="right">
            </div>
    </p>
    </div>
</td>
</tr>
<tr>
<td style="width: 180px;">
    <p>Neil<img src="https://www.wpclipart.com/blanks/shapes/color_labels/circle/color_label_circle_green.png" width="10%" height="10%" align="right"></p>
    </td>
</tr>
<tr>
<td style="width: 180px;">
    <p>Other Usernames... <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Button_Icon_Red.svg/2000px-Button_Icon_Red.svg.png" width="10%" height="10%" align="right"></p>
    </td>
</tr>
<tr>
<td style="width: 180px;"></td>
</tr>
<tr>
<td style="width: 180px;"></td>
</tr>
<tr>
<td style="width: 180px;"></td>
</tr>
<tr>
<td style="width: 180px;"></td>
</tr>
<tr>
<td style="width: 180px;"></td>
</tr>
<tr>
<td style="width: 180px;"></td>
</tr>
</tbody>
</table>

<div class="chattext">
            <textarea></textarea>
            <button>Send</button>
        </div>

      -->
</body>
</html>
